<div class="row animated fadeInRight fast">
    <div class="p-h-md p-v pos-rlt">
        <h3 class="no-margin">{{getText "global.user.show.heading.subject"}}</h3>
    </div>
    {{#each subjects}}
        <div class="col-lg-3">
            <a href="/#/classes/{{../classId}}/subjects/{{uuid}}" class="card link waves-effect">
                <div class="card-heading">
                    <button md-ink-ripple class="md-btn md-fab m-b blue"><i class="mdi-action-assignment i-24"></i></button>
                    <h2>{{name}}</h2>
                </div>
            </a>
        </div>
    {{/each}}
</div>

