<div id="showUserMaterialTable" class="materialTable animated fadeInRight fast">
    <div class="materialTitle large">
        <h2 class="title">{{getText "global.menu.grade.title"}}</h2>
    </div>
    <div class="materialSearch large">
        <i class="mdi-action-search text-lg pull-left"></i>
        <input type="text" placeholder="" data-id="materialTableSearch">
        <div class="options">
            <button class="md-btn md-flat waves-effect" data-id="searchClose">
                <i class="mdi-navigation-close text-lg m-t-sm pull-left"></i>
            </button>
        </div>
    </div>
    <div class="materialSelect large">
        <div class="itemsSelect">
            <span>0</span>  {{lang.global.tableSelected}}
        </div>
        <div class="options">
            <button data-id="1" class="md-btn md-flat waves-effect">
                <i class="mdi-action-delete text-lg m-t-sm pull-right"></i>
            </button>
        </div>
    </div>
    <div id="materialLoading_showUserMaterialTable"></div>
    <table>
        <thead>
        <tr class="header">
            <th class="sort markstable_row_subject">
                <div class="name">{{getText "global.marks.subject"}}</div>
            </th>
            <th class="sort">
                <div class="name">{{getText "global.marks.marks_small"}}</div>
            </th>
            <th class="sort markstable_row_big_marks">
                <div class="name">{{getText "global.marks.marks_big"}}</div>
            </th>
            <th class="sort show_average_icon markstable_row_small">
                <div class="name">{{getText "global.marks.average_small"}}</div>
            </th>
            <th class="sort show_average_icon markstable_row_big">
                <div class="name">{{getText "global.marks.average_big"}}</div>
            </th>
            <th class="sort markstable_row_endmark">
                <div class="name" >{{getText "global.marks.final_mark"}}</div>
            </th>
            <th class="sort show_maps_icon markstable_row_show_maps">
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each marks}}
            <tr class="link subject" data-subjectId="{{subjectId}}">
                <td>{{subject}}</td>

                <td class="small_marks" data-id="{{subjectId}}">
                {{#each small}}
                    <div class="marks" title="{{comment}} - {{date}}">{{mark}}</div>
                {{/each}}
                    <input type="number" min="1" max="6" class="new_marks new_marks_small disable_spinner">
                </td>

                <td class="big_marks" data-id="{{subjectId}}">
                    {{#each big}}
                        <div class="marks" title="{{comment}} - {{date}}">{{mark}}</div>
                    {{/each}}
                    <input type="number" min="1" max="6" class="new_marks new_marks_big disable_spinner">
                </td>

                <td class="average_small"></td>

                <td class="average_big"></td>

                <td class="total_mark"></td>

                <td class="options maps_icon">
                    <button class="md-btn md-flat waves-effect" title="{{getText "global.marks.note_edit"}}">
                        <i data-subjectId="{{subjectId}}" class="asc mdi-maps-layers text-lg edit_marks_disabled"></i>
                    </button>

                    <button class="md-btn md-flat waves-effect button_edit_marks_enabled" title="{{getText "global.marks.note_cancle_edit"}}">
                        <i data-subjectId="{{subjectId}}" class="asc mdi-maps-layers-clear text-lg edit_marks_enabled"></i>
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot></tfoot>
    </table>
    <div class="materialFooter show_average_total_mark">
        <div class="options">
            <div class="rows">
                <div class="name">{{getText "global.marks.total_average"}}</div>
                <div class="average_total_marks"></div>
            </div>
        </div>
    </div>
</div>
<div class="materialModal animated fadeIn" id="deleteUserModal">
    <div class="overlay"></div>
    <div class="window small animated">
        <div class="title">{{getText "lang.action.modal.deleteUser.title"}}</div>
        <div class="content">{{getText "lang.action.modal.deleteUser.content"}}</div>
        <div class="actions">
            <button type="button" id="deleteUserModalCancel" class="md-btn md-raised btn-fw waves-effect">{{lang.action.modal.close}}</button>
            <button type="button" id="deleteUserModalAction" class="md-btn md-raised btn-fw blue waves-effect">{{lang.action.modal.deleteUser.delete}}</button>
        </div>
    </div>
</div>
<!-- Modal delete User -->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{lang.action.modal.deleteUser.title}}</h4>
            </div>
            <div class="modal-body">
                {{lang.action.modal.deleteUser.content}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{lang.action.modal.close}}</button>
                <button type="button" name="deleteUserButton" data-subjectId="" id="deleteUserButton" class="btn btn-danger">{{lang.action.modal.deleteUser.delete}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal activate User -->
<div class="modal fade" id="activateUser" tabindex="-1" role="dialog" aria-labelledby="activateUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{lang.action.modal.activateUser.title}}</h4>
            </div>
            <div class="modal-body">
                {{lang.action.modal.activateUser.content}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{lang.action.modal.close}}</button>
                <button type="button" name="deleteUserButton" data-subjectId="" id="activateUserButton" class="btn btn-success">{{lang.action.modal.activateUser.activate}}</button>
            </div>
        </div>
    </div>
</div>
