<div class="row animated fadeInRight fast">
    <div class="col-md-6">
        <div class="card">
            <div class="card-heading">
                <h2>{{getText "global.menu.adminUser.title_create_user"}}</h2>
            </div>
            <div class="card-divider"></div>
            <form role="form" id="editUserForm" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.gender"}}</label>
                        <select name="gender" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required="" tabindex="0" aria-required="true" aria-invalid="true">
                            <option value="">{{getText "global.placeholder"}}</option>
                            <option value="0">{{getText "global.user.show.gender.male"}}</option>
                            <option value="1">{{getText "global.user.show.gender.female"}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.firstname"}} <em class="text-muted"></em></label>
                        <input type="text" name="firstname" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched"  placeholder="{{lang.action.form.placeholder.firstname}}" value="{{user.firstname}}" required="" tabindex="0" aria-required="true" aria-invalid="true" style="">
                    </div>
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.lastname"}} <em class="text-muted"></em></label>
                        <input type="text" name="lastname" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" placeholder="{{lang.action.form.placeholder.lastname}}" value="{{user.lastname}}" required="" tabindex="0" aria-required="true" aria-invalid="true" style="">
                    </div>
                    <div id="editStudentClass" class="form-group">
                        <label>{{getText "global.user.show.heading.class"}} <em class="text-muted"></em></label>
                        <select class="form-control" name="class">
                            {{#each classes}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group" >
                        {{getText "global.user.show.heading.status.status"}}<br/>
                        <label class="md-switch">
                            <input class="has-value" id="active" name="active" checked="" type="checkbox">
                            <i class="blue"></i>
                            {{getText "global.user.show.heading.status.active"}}
                        </label>
                    </div>
                    <div class="radio">
                        <label class="ui-checks" >
                            <input type="radio" name="togglePassword" id="generatePassword" value="newAuto" checked>
                            <i></i>
                            {{getText "global.user.show.heading.password.generate"}}
                        </label>
                    </div>
                    <div class="b-t-info" id="generatedPassword">
                        <label>{{getText "global.user.show.heading.password.generated"}} <em class="text-muted"></em></label>
                        <input type="text" name="generatedPasswordOut" value="{{randomPassword}}" readonly>
                    </div>
                    <div class="radio">
                        <label class="ui-checks">
                            <input type="radio" name="togglePassword" id="newCustomPassword" value="newCustom">
                            <i></i>
                            {{getText "global.user.show.heading.password.manual"}}
                        </label>
                    </div>
                    <div class="row hidden" id="passwordRow">
                        <div class="col-sm-5  m-b">
                            <label>{{getText "global.user.show.heading.password.password"}}</label>
                            <input type="password" placeholder="********" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" name="password" ng-model="password" tabindex="0" aria-required="true" aria-invalid="true" style="">
                            <span class="help-block m-b-none">{{getText "global.user.show.heading.password.help_block"}}</span>
                        </div>
                        <div class="col-sm-5 m-b">
                            <label>{{getText "global.user.show.heading.password.confirm"}}</label>
                            <input type="password" placeholder="********" class="form-control ng-pristine ng-valid-validator ng-invalid ng-invalid-required ng-touched" name="confirm" ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " tabindex="0" aria-required="true" aria-invalid="true" style="">
                        </div>
                    </div>

                </div>
                <footer class="panel-footer text-right">
                    <a href="/#/user" class="md-btn md-raised btn-fw waves-effect">{{getText "global.abort"}}</a>
                    <button type="button" name="createUser" id="btnCreateUser" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.submit"}}</button>
                </footer>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div id="editUserUserGroupsTable" class="materialTableCard">
                <div id="userGroupsTable" class="materialTable">
                    <div class="materialTitle large">
                        <h2 class="title">{{getText "global.menu.adminUser.groups.title"}}</h2>
                        <div class="options"></div>
                    </div>
                    <div id="materialLoading_showUserMaterialTable"></div>
                    <table>
                        <thead>
                        <tr class="header">
                            <th>
                                <label class="md-check hidden">
                                    <input type="checkbox" class="has-value all waves-effect" data-active="0">
                                    <i class="blue"></i>
                                </label>
                            </th>
                            <th class="sort">
                                <div class="name">{{getText "global.menu.adminUser.groups.table_title"}}</div>
                                <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
                            </th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="link editUserUserGroup" data-uuid="0">
                            <td class="small">
                                <label class="md-check">
                                    <input name="group" type="radio" value="0" class="has-value waves-effect">
                                    <i class="blue"></i>
                                </label>
                            </td>
                            <td class="link">{{getText "global.user.show.groups_name.admin"}}</td>
                        </tr>
                        <tr class="link editUserUserGroup" data-uuid="1">
                            <td class="small">
                                <label class="md-check">
                                    <input name="group" type="radio" value="1" class="has-value waves-effect">
                                    <i class="blue"></i>
                                </label>
                            </td>
                            <td class="link">{{getText "global.user.show.groups_name.teacher"}}</td>
                        </tr>
                        <tr class="link active editUserUserGroup" data-uuid="2">
                            <td class="small">
                                <label class="md-check">
                                    <input name="group" type="radio" value="2" class="has-value waves-effect" checked>
                                    <i class="blue"></i>
                                </label>
                            </td>
                            <td class="link">{{getText "global.user.show.groups_name.student"}}</td>
                        </tr>
                        <tr class="link editUserUserGroup" data-uuid="3">
                            <td class="small">
                                <label class="md-check">
                                    <input name="group" type="radio" value="3" class="has-value waves-effect">
                                    <i class="blue"></i>
                                </label>
                            </td>
                            <td class="link">{{getText "global.user.show.groups_name.principal"}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>