<div class="row animated fadeInRight fast">
    <div class="col-md-6">
        <div class="card">
            <div class="card-heading">
                <h2>{{getText "global.menu.adminUser.title2_edit_0"}} {{user.firstname}} {{user.lastname}} {{getText "global.menu.adminUser.title2_edit_1"}}</h2>
            </div>
            <div class="card-divider"></div>
            <form role="form" id="editUserForm" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.gender"}}</label>
                        <select name="gender" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required="" tabindex="0" aria-required="true" aria-invalid="true">
                            <option value="" {{#ifCond user.gender '===' ""}}selected{{/ifCond}}>{{getText "global.placeholder"}}</option>
                            <option value="0" {{#ifCond user.gender '===' '0'}}selected{{/ifCond}}>{{getText "global.user.show.gender.male"}}</option>
                            <option value="1" {{#ifCond user.gender '===' '1'}}selected{{/ifCond}}>{{getText "global.user.show.gender.female"}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.firstname"}} <em class="text-muted"></em></label>
                        <input type="text" name="firstname" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched"  placeholder="{{lang.action.form.placeholder.firstname}}" value="{{user.firstname}}" required="" tabindex="0" aria-required="true" aria-invalid="true" style="">
                    </div>
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.lastname"}} <em class="text-muted"></em></label>
                        <input type="text" name="lastname" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" placeholder="{{lang.action.form.placeholder.lastname}}" value="{{user.lastname}}" required="" tabindex="0" aria-required="true" aria-invalid="true" style="">
                    </div>
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.username"}} <em class="text-muted"></em></label>
                        <input type="text" name="loginname" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" placeholder="{{lang.action.form.placeholder.email}}" value="{{user.username}}" required="" tabindex="0" aria-required="true" aria-invalid="true" style="" readonly="">
                    </div>
                    <div id="editStudentClass" class="form-group{{#ifCond user.type "!=" "2"}} hidden{{/ifCond}}">
                        <label>{{getText "global.user.show.heading.class"}} <em class="text-muted"></em></label>
                        <select class="form-control" name="class">
                            {{#each classes}}
                                <option {{#ifCond ../user.classId '==' id}}selected{{/ifCond}} value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="form-group" >
                        {{getText "global.user.show.heading.status.status"}}<br/>
                        <label class="md-switch">
                            <input class="has-value" id="active" name="active" {{#ifCond user.active '==' 1}}checked=""{{/ifCond}} type="checkbox">
                            <i class="blue"></i>
                            {{getText "global.user.show.heading.status.active"}}
                        </label>
                    </div>
                    <div class="radio">
                        <label class="ui-checks" id="keepPassword">
                            <input type="radio" name="generatePassword" value="keep" checked="">
                            <i></i>
                            {{getText "global.user.show.heading.password.keep"}}
                        </label>
                    </div>
                    <div class="radio">
                        <label class="ui-checks" id="generatePassword">
                            <input type="radio" name="generatePassword" value="newAuto">
                            <i></i>
                            {{getText "global.user.show.heading.password.generate"}}
                        </label>
                    </div>
                    <div class="b-t-info hidden" id="generatedPassword">
                        <label>{{getText "global.user.show.heading.password.generated"}} <em class="text-muted"></em></label>
                        <input type="text" name="generatedPasswordOut" value="wrongWay" readonly>
                    </div>
                    <div class="radio">
                        <label class="ui-checks" id="newCustomPassword">
                            <input type="radio" name="generatePassword" value="newCustom">
                            <i></i>
                            {{getText "global.user.show.heading.password.manual"}}
                        </label>
                    </div>
                    <div class="row hidden" id="passwordRow">
                        <div class="col-sm-5  m-b">
                            <label>{{getText "global.user.show.heading.password.password"}}</label>
                            <input type="password" placeholder="********" class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" name="password" ng-model="password" tabindex="0" aria-required="true" aria-invalid="true" style="">
                            <span class="help-block m-b-none">{{getText "global.user.show.heading.password.help_block"}}</span>
                        </div>
                        <div class="col-sm-5 m-b">
                            <label>{{getText "global.user.show.heading.password.confirm"}}</label>
                            <input type="password" placeholder="********" class="form-control ng-pristine ng-valid-validator ng-invalid ng-invalid-required ng-touched" name="confirm" ng-model="confirm_password" ui-validate=" '$value==password' " ui-validate-watch=" 'password' " tabindex="0" aria-required="true" aria-invalid="true" style="">
                        </div>
                    </div>

                </div>
                <footer class="panel-footer text-right">
                    <a href="/#/user" class="md-btn md-raised btn-fw waves-effect">{{getText "global.abort"}}</a>
                    <button type="button" name="updateUser" id="updateUser" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.submit"}}</button>
                </footer>
            </form>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card">
            <div id="editUserUserGroupsTable" class="materialTableCard">
                <div id="userGroupsTable" class="materialTable">
                    <div class="materialTitle large">
                        <h2 class="title">{{getText "global.menu.adminUser.groups.title"}}</h2>
                        <div class="options"></div>
                    </div>
                    <div id="materialLoading_showUserMaterialTable"></div>
                    <table>
                        <thead>
                        <tr class="header">
                            <th>
                                <label class="md-check hidden">
                                    <input type="checkbox" class="has-value all waves-effect" data-active="0">
                                    <i class="blue"></i>
                                </label>
                            </th>
                                <th class="sort">
                                    <div class="name">{{getText "global.menu.adminUser.groups.table_title"}}</div>
                                    <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
                                </th>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr class="link{{#ifCond user.type "==" 0}} active{{/ifCond}} editUserUserGroup" data-uuid="0">
                                <td class="small">
                                    <label class="md-check">
                                        <input name="group" type="radio" value="0" class="has-value waves-effect"{{#ifCond user.type "==" 0}} checked="checked"{{/ifCond}}>
                                        <i class="blue"></i>
                                    </label>
                                </td>
                                <td class="link">{{getText "global.user.show.groups_name.admin"}}</td>
                            </tr>
                            <tr class="link{{#ifCond user.type "==" 1}} active{{/ifCond}} editUserUserGroup" data-uuid="1">
                                <td class="small">
                                    <label class="md-check">
                                        <input name="group" type="radio" value="1" class="has-value waves-effect"{{#ifCond user.type "==" 1}} checked="checked"{{/ifCond}}>
                                        <i class="blue"></i>
                                    </label>
                                </td>
                                <td class="link">{{getText "global.user.show.groups_name.teacher"}}</td>
                            </tr>
                            <tr class="link{{#ifCond user.type "==" 2}} active{{/ifCond}} editUserUserGroup" data-uuid="2">
                                <td class="small">
                                    <label class="md-check">
                                        <input name="group" type="radio" value="2" class="has-value waves-effect"{{#ifCond user.type "==" 2}} checked="checked"{{/ifCond}}>
                                        <i class="blue"></i>
                                    </label>
                                </td>
                                <td class="link">{{getText "global.user.show.groups_name.student"}}</td>
                            </tr>
                            <tr class="link{{#ifCond user.type "==" 3}} active{{/ifCond}} editUserUserGroup" data-uuid="3">
                                <td class="small">
                                    <label class="md-check">
                                        <input name="group" type="radio" value="3" class="has-value waves-effect"{{#ifCond user.type "==" 3}} checked="checked"{{/ifCond}}>
                                        <i class="blue"></i>
                                    </label>
                                </td>
                                <td class="link">{{getText "global.user.show.groups_name.principal"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div id="editTeacherPermissionsTable" class="col-md-6{{#ifCond user.type "==" "0"}} hidden{{/ifCond}}{{#ifCond user.type "==" "2"}} hidden{{/ifCond}}">
        <div class="card">
            <div class="materialTableCard">
                <div class="materialTable">
                    <div class="materialTitle large">
                        <h2 class="title">{{getText "global.menu.adminUser.title_editTeacherPermissions"}}</h2>
                        <div class="options">
                            <button id="btnAddPermission" class="md-btn md-flat waves-effect">
                                <i class="mdi-content-add text-lg m-t-sm pull-left"></i>
                            </button>
                        </div>
                    </div>
                    <div id="materialLoading_showUserMaterialTable" class="form-group"></div>
                    <table id="permissionsTable">
                        <thead>
                        <tr class="header">
                            <th class="sort">
                                <div class="name">{{getText "global.menu.adminUser.editTeacherPermissionsTableHeading.class"}}</div>
                            </th>
                            <th class="sort">
                                <div class="name">{{getText "global.menu.adminUser.editTeacherPermissionsTableHeading.subject"}}</div>
                            </th>
                            <th class="sort">
                                <div class="name" title="{{getText "global.menu.adminUser.editTeacherPermissionsTableHeading.readonly"}}"><i class="mdi-action-book text-lg m-t-sm pull-left"></i></div>
                            </th>
                            <th class="sort">
                                <div class="name" title="{{getText "global.menu.adminUser.editTeacherPermissionsTableHeading.writemore"}}"><i class="mdi-editor-mode-edit text-lg m-t-sm pull-left"></i></div>
                            </th>
                            <td class="options">

                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd permission_clone hidden" data-id="1">
                            <td class="">
                                <div class="">
                                    <select class="form-control" name="class" style="min-width:90px;">
                                        <option> </option>
                                            {{#each classes}}
                                                <option value="{{id}}">{{name}}</option>
                                            {{/each}}
                                    </select>
                                </div>
                            </td>
                            <td class="">
                                    <select class="form-control" name="subject" style="min-width:100px;">
                                        <option> </option>
                                        {{#each subjects}}
                                            <option value="{{id}}">{{name}}</option>
                                        {{/each}}
                                    </select>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label class="ui-checks ui-checks-md" title="{{getText "global.menu.adminUser.editTeacherPermissionsTableHeading.readonly"}}">
                                        <input class="access has-value" name="access" value="0" type="radio" checked>
                                        <i></i>
                                    </label>
                                </div>
                            </td>
                            <td>
                                <div class="checkbox">
                                    <label class="ui-checks ui-checks-md" title="{{getText "global.menu.adminUser.editTeacherPermissionsTableHeading.writemore"}}">
                                        <input class="access has-value" name="access" value="1" type="radio">
                                        <i></i>
                                    </label>
                                </div>
                            </td>
                            <td class="options">
                                <button class="md-btn md-flat waves-effect btnDeletePermission">
                                    <i class="mdi-action-delete text-lg m-t-sm pull-left"></i>
                                </button>
                            </td>
                        </tr>
                        {{#each permissions}}
                            <tr class="permission" data-id="{{id}}">
                                <td class="">
                                    <div class="">
                                        <select class="form-control" name="class" style="min-width:90px;">
                                            {{#each ../classes}}
                                                <option value="{{id}}" {{#ifCond ../classId "==" id}} selected="selected"{{/ifCond}}>{{name}}</option>
                                            {{/each}}
                                        </select>
                                    </div>
                                </td>
                                <td class="">
                                    <select class="form-control" name="subject" style="min-width:100px;">
                                        {{#each ../subjects}}
                                            <option value="{{id}}" {{#ifCond ../subjectId "===" id}} selected="selected"{{/ifCond}}>{{name}}</option>
                                        {{/each}}
                                    </select>
                                </td>
                                <td class="">
                                    <div class="checkbox">
                                        <label class="ui-checks ui-checks-md" title="{{getText "global.menu.adminUser.editTeacherPermissionsTableHeading.readonly"}}">
                                            <input class="access has-value" name="access{{id}}" value="0" type="radio" {{#ifCond access "===" "0"}} checked=""{{/ifCond}}>
                                            <i></i>
                                        </label>
                                    </div>
                                </td>
                                <td class="">
                                    <div class="checkbox">
                                        <label class="ui-checks ui-checks-md" title="{{getText "global.menu.adminUser.editTeacherPermissionsTableHeading.writemore"}}">
                                            <input class="access has-value" name="access{{id}}" value="1" type="radio" {{#ifCond access "===" "1"}} checked=""{{/ifCond}}>
                                            <i></i>
                                        </label>
                                    </div>
                                </td>
                                <td class="options">
                                    <button class="md-btn md-flat waves-effect btnDeletePermission">
                                        <i class="mdi-action-delete text-lg m-t-sm pull-left"></i>
                                    </button>
                                </td>
                            </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="panel-footer text-right">
                <button type="button" name="submitPermissions" id="btnSubmitPermissions" value="submitPermissions" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.submit"}}</button>
            </footer>
        </div>
    </div>

    <div class="col-lg-6 {{#ifCond user.active '===' '1'}}hidden{{/ifCond}}" id="deleteUser">
        <div class="card">
            <div id="deleteUser" class="materialTableCard materialTable">
                <div class="materialTitle">
                    <h2 class="title">{{getText "global.user.show.heading.delete"}}</h2>
                    <div class="options"></div>
                </div>
                <div class="card-body">
                    <span class="m-b-md">{{getText "global.user.show.heading.delete_info"}}</span>
                </div>
            </div>
            <footer class="panel-footer text-right">
                <button id="deleteUser" md-ink-ripple="" class="md-btn md-raised btn-fw red waves-effect">{{getText "global.menu.adminUser.delete"}}</button>
            </footer>
        </div>
    </div>

</div>
</div>