<div class="row">
    {{#ifCond type "==" "3"}}
        <div class="col-md-6">
            <div class="card">
                <div class="card-heading">
                    <h2>{{getText "global.settings.general.title"}}</h2>
                </div>
                <div class="card-divider"></div>
                <div class="card-body">
                    <form class="form">
                        <div class="form-group">
                            <h4><label class="control-label" for="current_year">{{getText "global.settings.year.current"}}</label></h4>
                            <select id="current_year" class="form-control">
                                {{#each years}}
                                    <option {{#ifCond ../current.id "==" id}}selected{{/ifCond}} value="{{id}}">{{displayName}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-group">
                            <button type="button" name="btnUpdateCurrentYear" id="btnUpdateCurrentYear" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.submit"}}</button>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <h4><label class="control-label">{{getText "global.settings.year.update_year"}}</label></h4>
                            <div class="form-group">
                                <select id="update_year_chooser" class="form-control">
                                    <option value="-1">{{getText "global.settings.year.choose_year"}}</option>
                                    {{#each years}}
                                        <option value="{{id}}">{{displayName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="update_year">{{getText "global.settings.year.new_name"}}</label>
                                <input type="text" id="update_year" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" name="btnUpdateYear" id="btnUpdateYear" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.update"}}</button>
                        </div>
                        <hr/>
                        <div class="form-group">
                            <h4><label class="control-label">{{getText "global.settings.year.delete_year"}}</label></h4>
                            <div class="form-group">
                                <select id="delete_year_chooser" class="form-control">
                                    <option value="-1">{{getText "global.settings.year.choose_year"}}</option>
                                    {{#each years}}
                                        <option value="{{id}}">{{displayName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <button type="button" name="btnShowDeleteYearModal" id="btnShowDeleteYearModal" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.delete"}}</button>
                        <hr/>
                        <div class="form-group">
                            <h4><label class="control-label">{{getText "global.settings.year.add_year"}}</label></h4>
                            <div class="form-group">
                                <label class="control-label" for="update_year">{{getText "global.settings.year.name"}}</label>
                                <input type="text" id="create_year" class="form-control" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" name="btnCreateYear" id="btnCreateYear" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.add"}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {{/ifCond}}
    <div class="col-md-6">
        <div class="card">
            <div class="card-heading">
                <h2>{{getText "global.settings.password.title"}}</h2>
            </div>
            <div class="card-divider"></div>
            <form role="form" id="editUserForm" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label class="control-label" for="oldPassword">{{getText "global.settings.password.old"}}</label>
                        <input type="password" id="oldPassword" name="oldPassword" class="form-control" tabindex="1" aria-required="true" aria-invalid="true">
                        <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="newPassword">{{getText "global.user.show.heading.password.password"}}</label>
                        <input type="password" id="newPassword" name="newPassword" placeholder="********" class="form-control" tabindex="2" aria-required="true" aria-invalid="true">
                        <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
                        <span class="help-block m-b-none">{{getText "global.settings.password.validation.length_help"}}</span>
                    </div>
                    <div class="form-group has-feedback">
                        <label class="control-label" for="newPasswordConfirmation">{{getText "global.user.show.heading.password.confirm"}}</label>
                        <input type="password" id="newPasswordConfirmation" name="newPasswordConfirmation" placeholder="********" class="form-control" tabindex="3" aria-required="true" aria-invalid="true">
                        <span class="glyphicon glyphicon-ok form-control-feedback hidden" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-remove form-control-feedback hidden" aria-hidden="true"></span>
                    </div>
                </div>
                <footer class="panel-footer text-right">
                    <button type="button" name="btnUpdatePassword" id="btnUpdatePassword" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.submit"}}</button>
                </footer>
            </form>
        </div>
    </div>
</div>

<div class="materialModal animated" id="deleteYearModal">
    <div class="overlay"></div>
    <div class="window small animated fadeInDown">
        <div class="title">{{getText "lang.action.modal.deleteYear.title"}}</div>
        <div class="content">{{getText "lang.action.modal.deleteYear.content"}}</div>
        <div class="actions">
            <button type="button" id="btnCancelDeleteYear" class="md-btn md-raised btn-fw waves-effect">{{getText "lang.action.modal.close"}}</button>
            <button type="button" id="btnDeleteYear" class="md-btn md-raised btn-fw red waves-effect">{{getText "lang.action.modal.deleteYear.confirm"}}</button>
        </div>
    </div>
</div>