<div id="showUserMaterialTable" class="materialTable animated fadeInRight fast">
    <div class="materialTitle large">
        <h2 class="title">{{getText "global.menu.adminUser.title"}}</h2>
        <div class="options">

            <button class="md-btn md-flat waves-effect" data-id="searchOpen">
                <i class="mdi-action-search text-lg m-t-sm pull-right"></i>
            </button>
            <a href="#/user/create">
                <button class="md-btn md-flat waves-effect">
                    <i class="mdi-content-add text-lg m-t-sm pull-right"></i>
                </button>
            </a>
        </div>
    </div>
    <div class="materialSearch large">
        <i class="mdi-action-search text-lg pull-left"></i>
        <input type="text" placeholder="" data-id="materialTableSearch">
        <div class="options">
            <button class="md-btn md-flat waves-effect" data-id="searchClose">
                <i class="mdi-navigation-close text-lg m-t-sm pull-left"></i>
            </button>
        </div>
    </div>
    <div class="materialSelect large">
        <div class="itemsSelect">
            <span>0</span>  {{lang.global.tableSelected}}
        </div>
        <div class="options">
            <button data-id="btnDeleteSelected" class="md-btn md-flat waves-effect">
                <i class="mdi-action-delete text-lg m-t-sm pull-right"></i>
            </button>
        </div>
    </div>
    <div id="materialLoading_showUserMaterialTable"></div>
    <table>
        <thead>
        <tr class="header">
            <th>
                <label class="md-check">
                    <input type="checkbox" class="has-value all waves-effect" data-active="0">
                    <i class="blue"></i>
                </label>
            </th>
            <th class="sort">
                <div class="name">{{getText "global.user.show.heading.firstname"}}</div>
                <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
            </th>
            <th class="sort">
                <div class="name">{{getText "global.user.show.heading.lastname"}}</div>
                <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
            </th>
            <th class="sort">
                <div class="name">{{getText "global.user.show.heading.class"}}</div>
                <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
            </th>
            <th class="sort">
                <div class="name">{{getText "global.user.show.heading.type"}}</div>
                <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
            </th>
            <th class="sort">
                <div class="name">{{getText "global.user.show.heading.status.status"}}</div>
                <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each users}}
            <tr class="link" data-uuid="{{uuid}}">
                <td class="small">
                    <label class="md-check">
                        <input type="checkbox" class="selector has-value waves-effect">
                        <i class="blue"></i>
                    </label>
                </td>
                <td class="link">{{firstname}}</td>
                <td class="link">{{lastname}}</td>
                <td class="link">{{class}}</td>
                <td class="link">{{#ifCond type '===' '0'}}{{getText "global.user.show.heading.types.admin"}}{{/ifCond}}{{#ifCond type '===' '1'}}{{getText "global.user.show.heading.types.teacher"}}{{/ifCond}}{{#ifCond type '===' '2'}}{{getText "global.user.show.heading.types.student"}}{{/ifCond}}{{#ifCond type '===' '3'}}{{getText "global.user.show.heading.types.principal"}}{{/ifCond}}</td>
                <td class="link">{{#ifCond active '===' '1'}}<span class="label green">AKTIV</span>{{/ifCond}}{{#ifCond active '===' '0'}}<span class="label red">DEAKTIVIERT</span>{{/ifCond}}</td>
                <td class="options">
                    <button data-id="btnDeleteUser" class="md-btn md-flat waves-effect">
                        <i class="mdi-action-delete text-lg m-t-sm pull-right"></i>
                    </button>

                </td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot></tfoot>
    </table>
    <div class="materialFooter">
        <center class="errorFound hide"><br/>{{getText "global.user.show.heading.noUserFound"}}</center>
        <div class="options">
            <div class="rows">
                <div class="name">
                    {{lang.global.table.rowsPerPage}}:
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle waves-effect noBorder" data-toggle="dropdown"><span class="count">50</span>  <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a class="waves-effect">25</a></li>
                        <li><a class="waves-effect">50</a></li>
                        <li><a class="waves-effect">100</a></li>
                        <li><a class="waves-effect">200</a></li>
                    </ul>
                </div>
                <div class="name">
                    1 - 5 {{lang.global.table.of}} 776
                </div>
            </div>
            <button class="md-btn md-flat waves-effect disable">
                <i class="mdi-av-skip-previous text-lg m-t-sm pull-right"></i>
            </button>
            <button class="md-btn md-flat waves-effect disable">
                <i class="mdi-hardware-keyboard-arrow-left text-lg m-t-sm pull-right"></i>
            </button>
            <button class="md-btn md-flat waves-effect">
                <i class="mdi-hardware-keyboard-arrow-right text-lg m-t-sm pull-right"></i>
            </button>
            <button class="md-btn md-flat waves-effect">
                <i class="mdi-av-skip-next text-lg m-t-sm pull-right"></i>
            </button>
        </div>
    </div>
</div>
<div class="materialModal animated" id="deleteUserModal">
    <div class="overlay"></div>
    <div class="window small animated fadeInDown">
        <div class="title">{{getText "lang.action.modal.deleteUser.title"}}</div>
        <div class="content">{{getText "lang.action.modal.deleteUser.content"}}</div>
        <div class="actions">
            <button type="button" id="deleteUserModalCancel" class="md-btn md-raised btn-fw waves-effect">{{getText "lang.action.modal.close"}}</button>
            <button type="button" id="deleteUserModalAction" class="md-btn md-raised btn-fw red waves-effect">{{getText "lang.action.modal.deleteUser.confirm"}}</button>
        </div>
    </div>
</div>
<div class="materialModal animated" id="deleteUsersModal">
    <div class="overlay"></div>
    <div class="window small animated fadeInDown">
        <div class="title">{{getText "lang.action.modal.deleteUsers.title"}}</div>
        <div class="content">{{getText "lang.action.modal.deleteUsers.content"}}</div>
        <div class="actions">
            <button type="button" id="deleteUsersModalCancel" class="md-btn md-raised btn-fw waves-effect">{{getText "lang.action.modal.close"}}</button>
            <button type="button" id="deleteUsersModalAction" class="md-btn md-raised btn-fw red waves-effect">{{getText "lang.action.modal.deleteUsers.confirm"}}</button>
        </div>
    </div>
</div>
<!-- Modal delete User -->
<div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{lang.action.modal.deleteUser.title}}</h4>
            </div>
            <div class="modal-body">
                {{lang.action.modal.deleteUser.content}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{lang.action.modal.close}}</button>
                <button type="button" name="deleteUserButton" data-uuid="" id="deleteUserButton" class="btn btn-danger">{{lang.action.modal.deleteUser.delete}}</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal activate User -->
<div class="modal fade" id="activateUser" tabindex="-1" role="dialog" aria-labelledby="activateUser">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{lang.action.modal.activateUser.title}}</h4>
            </div>
            <div class="modal-body">
                {{lang.action.modal.activateUser.content}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{lang.action.modal.close}}</button>
                <button type="button" name="deleteUserButton" data-uuid="" id="activateUserButton" class="btn btn-success">{{lang.action.modal.activateUser.activate}}</button>
            </div>
        </div>
    </div>
</div>
