body{
    margin: 0px;
}

*{
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar {
    width: 12px;
    position: fixed;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: grey;
}


.panel-footer{
    float: left;
    width: 100%;
}

.box{
    .box-row{
        .box-cell{
            overflow-x: hidden;
            -webkit-overflow-scrolling: none;
        }
    }
}

#aside{
    .box{
        .box-row{
            .box-cell{
                overflow: hidden;
                -webkit-overflow-scrolling: none;
            }
        }
    }
}


.md-btn{
    font-size: 14px;
    letter-spacing: .5px;
    font-weight: 400 !important;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 7px;
    padding-bottom: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    box-shadow: none !important;
    &.blue:hover, &.blue:focus{
        background-color: #3BA8FF;
    }
    &:hover{
        background-color: rgba(158,158,158,0.2);
        -webkit-transform: none !important;
        transform: none !important;
    }
    &:focus{
        -webkit-transform: none !important;
        transform: none !important;
        background-color: rgba(158,158,158,0.2);
    }
    &:active{
        box-shadow: 1px 2px 10px 0 rgba(0,0,0,0.47)!important;
    }
}

.waves-effect{
    -webkit-mask-image: none;
}

.noBorder{
    border: 0px;
}


#put_content{
    float: left;
    overflow-x: hidden;
    &.disable{
        display: none;
    }
    .help-block{
        font-size: 12px;
        &.error{
            color: #FF0000;
        }
    }
}

.userHeader{
    background-image:url(../images/bg.png);
    background-size:cover;
    height: 66px;
    .pull-right{
        margin-top: -8px;
    }
    .profileName{
        margin-top: 7px;
    }
}

.card{
    float: left;
    width: 100%;
    &.link .card-heading{
        text-align: center;
    }
    &.link:hover{
        box-shadow:0 2px 24px rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }
}

.debugging{
    background-color: #D2D2D2;
    padding: 20px;
    font-size: 14px;
    font-family: courier;
    position: absolute;
    margin: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#forget_pw {
  display: none;
}
.toast {
  background-color:#030303;
  opacity: 1;
}
#toast-container {
  & > div {
    opacity: 1 !important;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
  }
  & > :hover {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    cursor: default !important;
    opacity: 1 !important;
  }
}
.toast-success {
  background-color:#8dc63f;
}
.toast-error {
  background-color:#cc3f44;
}
.toast-info {
  background-color:#40bbea;
}

.materialTableCard{
    float: left;
    width: 100%;
}

.materialTable{
    width: 100%;
    float: left;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    position: relative;
    &.inline{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .materialTitle{
        border-bottom: 0px;
        float: left;
        width: 100%;
        .title{
            float: left;
            margin-left: 24px;
            margin-top: 19px;
            font-size: 18px;
            color: #000000;
        }
    }
    .materialSearch{
        display: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-bottom: 0px;
        i.mdi-action-search{
            margin-left: 24px;
            margin-top: 22px;
        }
        input{
            padding: 8px;
            border: 0;
            color: #000;
            float: left;
            width: 80%;
            margin-left: 10px;
            height: 41px;
            margin-top: 14px;
        }
    }
    .materialSelect{
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 100%;
        background-color: #E8F0FE;
        border-bottom: 0px;
        display: none;
        color: #1e88e5;
        font-size: 16px;
        padding-bottom: 17px;
        .itemsSelect{
            float: left;
            margin-left: 24px;
            margin-top: 22px;
        }
    }
    .options{
        float: right;
        margin-right: 24px;
        margin-top: 14px;
    }
    .md-flat{
        padding-left: 9px;
        padding-bottom: 6px;
        padding-top: 0px;
        padding-right: 6px;
        color: rgba(0,0,0,0.54);
    }
    .large{
        height: 64px;
    }
    table{
        width: 100%;
        thead{
            tr{
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                height: 56px;
                th{
                    font-weight: 400;
                    color: #757575;
                    vertical-align: middle;
                    &.sort i{
                        -webkit-transform: rotate(0deg);
                        transform: rotate(0deg);
                        transition: fill .25s,-webkit-transform .25s;
                        transition: fill .25s,transform .25s;
                    }
                    &.sort.active i{
                      -webkit-transform: rotate(180deg);
                      transform: rotate(180deg);
                    }
                }

                &.header{
                    th:hover{
                        color: #000000;
                        cursor: pointer;
                    }
                    i.asc{
                        float: left;
                        margin-left: 7px;
                        margin-top: -2px;
                    }
                    .name{
                        float: left;
                    }

                }
            }
        }
        tbody{
            tr{
                border-bottom: 1px solid #E6E6E6;
                color: #000000;
                transition: background-color .2s;
                &:hover{
                    background-color: #eeeeee;
                }
                td.link{
                    cursor: pointer;
                }
                &.active{
                    background-color: #F5F5F5;
                }
                td.small{
                    width: 20px;
                }
                td.options{
                    margin-top: 4px;
                    margin-right: 10px;
                    padding: 0px !important;
                }
            }
        }
        td, th{
            text-align: left;
            padding: 13px;
            padding-left: 18px;
            padding-right: 18px;
            vertical-align: top;
            border-top: 0;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
    .materialFooter{
        float: left;
        width: 100%;
        padding-bottom: 10px;
        color: rgba(0,0,0,0.54);
        .rows{
            float: left;
            font-size: 12px;
            font-weight: 500;
            .name{
                float: left;
                margin-top: 12px;
                margin-right: 15px;
            }
            .dropdown{
                float: left;
                button{
                    font-size: 12px;
                    font-weight: 500;
                    padding-top: 12px;
                    margin-right: 30px;
                    color: rgba(0,0,0,0.54);
                    span{
                        color: rgba(0,0,0,0.54);
                    }
                }
                ul.dropdown-menu{
                    margin-top: -36px;
                    margin-left: -4px;
                }
            }
        }
    }

    button{
        &:hover{
            background-color: #3BA8FF;
            color: #FFF;
        }
        &.disable{
            cursor: not-allowed;
            opacity: 0.6;
            color: rgba(0,0,0,0.54) !important;
            &:hover{
                color: rgba(0,0,0,0.54) !important;
                border: 0px !important;
                background-color: transparent !important;
            }
        }
    }

    .mprogress-custom-parent{
        float: left;
        width: 100%;
        height: 3px;
        position: absolute;
        margin-top: 118px;
    }
}

.materialModal{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    .overlay{
        width: 100%;
        height: 100%;
        background-color: rgba(33,33,33,0.48);
    }
    .window{
        animation-duration: 0.4s;
        padding: 24px 24px 8px 24px;
        position: fixed;
        width: 400px;
        min-height: 100px;
        left: 50%;
        top: 50%;
        margin-top: -100px;
        margin-left: -200px;
        background-color: #FFFFFF;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        box-shadow: 0 7px 8px -4px rgba(0,0,0,.2),0 13px 19px 2px rgba(0,0,0,.14),0 5px 24px 4px rgba(0,0,0,.12);
        &.small{
            width: 300px;
        }
        &.medium{
            width: 600px;
        }
        &.large{
            width: 900px;
        }
        .title{
            float: left;
            margin-bottom: 16px;
            width: 100%;
            font-size: 20px;
            font-weight: 600;
            letter-spacing: .02em;
        }
        .content{
            float: left;
            width: 100%;
            margin-bottom: 25px;
            font-size: 15px;
            color: #737373;
        }
        .actions{
            float: right;
            margin-bottom: 8px;
            .md-btn{
                padding-left: 14px;
                padding-right: 14px;
                min-width: auto;
            }
        }
    }
}


.nav.navbar-tool{
    li{
        transition: all 0.5s ease;
    }
    li:hover{
        background-color: rgba(0,0,0,0.05) !important;
    }
}
.materialButton{
    padding-left: 6px;
    padding-bottom: 6px;
    padding-top: 0px;
    padding-right: 6px;
    color: rgba(0,0,0,0.54);
}

.profilImage{
    .porfileImageImage{
        float: left;
        margin-top: 10px;
        height: 43px;
        width: 43px;
    }
    .profileName{
        float:left;
        margin-left: 15px;
        i{
            margin-left: 6px;
        }
    }
}

.campaign{
    .icon{
        float: left;
        font-size: 28px;
        margin-right: 19px;
        color: #595959;
        border-radius: 100px;
        height: 54px;
        margin-top: -4px;
    }
    .choose{
        .strong{
            text-transform: uppercase;
            font-size: 12px;
            font-weight: bold;
        }
        .currentCampaign{
            font-size: 16px;
            width: 160px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
}

.classe1 .classe2{

}

.classe1 .classe2 a{

}

.classe1 .classe2 h1{

}

.classe1{
    .classe2{
        display: none;
        a{
            font-size: 13px;
        }
        h1{}
    }
}



.userHeaderBack{
    padding-bottom: 0px;
    display: block !important;
    transition: all 0.3s ease-out;
    &:hover{
        background-color: rgba(0,0,0,0.10)!important;
    }
}

.notification{
    .count{
        background-color: #FF3131;
        border-radius: 100px;
        width: 18px;
        height: 18px;
        font-size: 11px;
        color: #fff;
        font-weight: bold;
        margin-left: 16px;
        position: absolute;
        margin-top: -27px;
        text-align: center;
        padding-top: 4px;
        font-family: monospace;
    }
}

.noDatabase{
    font-size: 20px;
    margin-bottom: 24px;
    background-color: #FFF;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    float: left;
    padding: 20px;
    width: 306px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -153px;
    text-align: center;
    margin-top: -56px;
    i {
        float: left;
        width: 100%;
        text-align: center;
        font-size: 32px;
        margin-bottom: 10px;
    }
}

.materialTable table td div{
    float: left;
    margin-right:7px;
}

.new_small_marks{
    width: 20px;
    text-align: center;
    display:none;
}

.new_big_marks{
    width: 20px;
    text-align: center;
    display:none;
}

.new_small_marks_check{
    display: none;
}

.new_big_marks_check{
    display: none;
    cursor: pointer;
}

tr.link td.link input[type="number"]::-webkit-outer-spin-button,
tr.link td.link input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

tr.link td.link input[type="number"] {
    -moz-appearance: textfield;
}

.marks{
    padding: 0px 5px;
    border: 1px solid transparent;
}

.mark_hover:hover{
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 3px;
}

.popover div{
    float:none !important;
    margin-right: 0px !important;
}

.new_marks{
    width:20px;
    height: 21px;
    float: left;
    text-align: center;
    outline: 0px;
    margin-top: -2px;
    margin-left: 3px;
}

.disable_spinner::-webkit-outer-spin-button,
.disable_spinner::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}
.markstable_row_big_marks{
    width: 30%;
}
.set_new_marks{
    display: block;
}

.markstable_row_subject{
    width: 15%;
}

.markstable_row_show_maps{
    width: 1%;
}

.markstable_row_big, .markstable_row_small{
    width: 9%;
}

.markstable_row_small{
    width: 7%;
}

.markstable_row_endmark{
    width: 6%;
}
.average_small, .average_big, .total_mark{
    text-align: center !important;
    font-weight: bold;
}

.average_total_marks{
    float: left;
    margin-top: 12px;
}


.show_average_total_mark .options{
    margin-top: 0px;
    margin-right: 95px;
    color: black;
}
.show_average_total_mark{
    margin-top: 0px;
    margin-right: 10px;
}

.md-btn.red:hover, .md-btn.red:focus {
    background-color: #E53935;

}

.md-btn:hover, .md-btn:focus{
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.edit_marks_disabled{
    color: rgba(0, 0, 0, 0.54);
}

.edit_marks_disabled:hover{
    color: #000000;
}

.materialTable .maps_icon button{
    padding-left: 6px;
    padding-bottom: 3px;
    padding-top: 6px;
    padding-right: 6px;
    color: rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    margin-left: 17px;
}

.button_edit_marks_enabled{
    display: none;
}

.edit_marks_enabled:hover{
    color: black;
}

/* mSnacbar */
#mSnackbarContainer{
    position: fixed;
    bottom: 0px;
    right: 20px;
    height: 70px;
    overflow: hidden;
    pointer-events: none;
    .mSnackbar{
        line-height: 22px;
        padding: 14px 24px;
        background-color: #323232;
        color: #fff;
        font-size: 14px;
        z-index: 100;
        min-width: 288px;
        max-width: 568px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        margin: 0 auto;
        float: right;
        clear: both;
        margin-bottom: 21px;
        margin-top: 71px;
        -webkit-animation-duration: 0.2s;
        animation-duration: 0.2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        @-webkit-keyframes slideIn {
            from {
                margin-top: 71px;
            }

            to {
                margin-top: 0px;
            }
        }

        @keyframes slideIn {
            from {
                margin-top: 71px;
            }

            to {
                margin-top: 0px;
            }
        }

        @-webkit-keyframes slideOut {
            from {
                margin-top: 0px;
            }

            to {
                margin-top: 71px;
            }
        }

        @keyframes slideOut {
            from {
                margin-top: 0px;
            }

            to {
                margin-top: 71px;
            }
        }

        &.slideIn{
            -webkit-animation-name: slideIn;
            animation-name: slideIn;
        }
        &.slideOut{
            -webkit-animation-name: slideOut;
            animation-name: slideOut;
        }
    }
}
/* END mSnackbar */