<div class="app">
    <!-- aside -->
    <aside id="aside" class="app-aside modal fade" role="menu">
        <div class="left">
            <div class="box bg-white">
                <div class="navbar md-whiteframe-z1 no-radius blue">
                    <!-- brand -->
                    <a class="navbar-brand waves-effect" href="#/" title="{{getText "global.title"  "[]"}}">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="width: 24px; height: 24px;">
                            <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
                            <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
                            <path d="M 8 80 L 50 0 L 50 100 Z" fill="#f3f3f3"></path>
                            <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(220, 220, 220, 0.6)"></path>
                        </svg>
                        <span class="hidden-folded m-l inline">{{getText "global.title" "[]"}}</span>
                    </a>
                    <!-- / brand -->
                </div>
                <div class="box-row">
                    <div id="scrollbarInit" class="box-cell hover">
                        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                        <div class="box-inner viewport">
                            <div class="hidden-folded blue-50 userHeader">
                                <div class="p">
                                    <div class="campaign">
                                        <div class="icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <div class="choose">
                                            <div class="strong">{{name}}</div>
                                            {{#ifCond type "==" 0}}
                                                <div class="currentCampaign">{{getText "global.user.show.groups_name.admin"}}</div>
                                            {{/ifCond}}
                                            {{#ifCond type "==" 1}}
                                                <div class="currentCampaign">{{getText "global.user.show.groups_name.teacher"}}</div>
                                            {{/ifCond}}
                                            {{#ifCond type "==" 2}}
                                                <div class="currentCampaign">{{getText "global.user.show.groups_name.student"}}</div>
                                            {{/ifCond}}
                                            {{#ifCond type "==" 3}}
                                                <div class="currentCampaign">{{getText "global.user.show.groups_name.principal"}}</div>
                                            {{/ifCond}}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="nav" class="overview">
                                <nav ui-nav>
                                    <ul class="nav">
                                        <li class="nav-header m-v-sm hidden-folded">
                                            {{getText "global.menu.menu.normal" "[]"}}
                                        </li>
                                        {{#ifCond type "==" 2}}
                                        <li>
                                            <a href="/#/marks" rel="load" md-ink-ripple class="waves-effect">
                                                <i class="icon fa fa-table i-20"></i>
                                                <span>{{getText "global.menu.grade.title" "[]"}}</span>
                                            </a>
                                        </li>
                                        {{/ifCond}}
                                        {{#ifCond type "==" 1}}
                                        <li>
                                            <a href="/#/classes" rel="load" md-ink-ripple class="waves-effect">
                                                <i class="icon fa fa-users i-20"></i>
                                                <span>{{getText "global.menu.class.title" "[]"}}</span>
                                            </a>
                                        </li>
                                        {{#if classid}}
                                            <li>
                                                <a href="/#/classes/{{classid}}" rel="load" md-ink-ripple class="waves-effect">
                                                    <i class="icon fa fa-graduation-cap i-20"></i>
                                                    <span>{{getText "global.menu.class.own" "[]"}}</span>
                                                </a>
                                            </li>
                                        {{/if}}

                                        {{/ifCond}}
                                        {{#ifCond type "==" 3}}
                                            <li>
                                                <a href="/#/classes" rel="load" md-ink-ripple class="waves-effect">
                                                    <i class="icon fa fa-users i-20"></i>
                                                    <span>{{getText "global.menu.class.title" "[]"}}</span>
                                                </a>
                                            </li>
                                            {{#if classid}}
                                                <li>
                                                    <a href="/#/classes/{{classid}}" rel="load" md-ink-ripple class="waves-effect">
                                                        <i class="icon fa fa-graduation-cap i-20"></i>
                                                        <span>{{getText "global.menu.class.own" "[]"}}</span>
                                                    </a>
                                                </li>
                                            {{/if}}
                                        {{/ifCond}}
                                        <li class="b-b b m-v-sm"></li>
                                        {{#ifCond type "==" 0}}
                                        <li class="nav-header m-v-sm hidden-folded">
                                            {{getText "global.menu.menu.admin" "[]"}}
                                        </li>
                                        <li>
                                            <a href="/#/user" rel="load" md-ink-ripple class="waves-effect">
                                                <i class="icon fa fa-users i-20"></i>
                                                <span class="font-normal">{{getText "global.menu.adminUser.title" "[]"}}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/#/classes/edit" rel="load" md-ink-ripple class="waves-effect">
                                                <i class="icon mdi-action-settings-input-svideo i-20"></i>
                                                <span class="font-normal">{{getText "global.menu.adminClass.title" "[]"}}</span>
                                            </a>
                                        </li>
                                        {{/ifCond}}
                                        {{#ifCond type "==" 3}}
                                            <li class="nav-header m-v-sm hidden-folded">
                                                {{getText "global.menu.menu.admin" "[]"}}
                                            </li>
                                            <li>
                                                <a href="/#/user" rel="load" md-ink-ripple class="waves-effect">
                                                    <i class="icon fa fa-users i-20"></i>
                                                    <span class="font-normal">{{getText "global.menu.adminUser.title" "[]"}}</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/#/classes/edit" rel="load" md-ink-ripple class="waves-effect">
                                                    <i class="icon mdi-action-settings-input-svideo i-20"></i>
                                                    <span class="font-normal">{{getText "global.menu.adminClass.title" "[]"}}</span>
                                                </a>
                                            </li>
                                        {{/ifCond}}
                                        <li>
                                            <a href="/#/settings" rel="load" md-ink-ripple class="waves-effect">
                                                <i class="icon mdi-action-settings i-20"></i>
                                                <span class="font-normal">{{getText "global.menu.settings.title"}}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="nav b-t b">
                        <li>
                            <a href="mailto:help@eduio.net" md-ink-ripple class="waves-effect">
                                <i class="icon mdi-action-help i-20"></i>
                                <span>{{getText "global.menu.menu.special" "[]"}}</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="links-inject"></div>
            </div>
        </div>
    </aside>
    <!-- / aside -->
    <!-- content -->
    <div id="content" class="app-content" role="main">
        <div class="box">
            <!-- Content Navbar -->
            <div class="navbar md-whiteframe-z1 no-radius blue">
                <!-- Open side - Naviation on mobile -->
                <a md-ink-ripple data-toggle="modal" data-target="#aside" class="navbar-item pull-left visible-xs visible-sm">
                    <i class="mdi-navigation-menu i-24"></i>
                </a>
                <!-- / -->
                <!-- Page title - Bind to $state's title -->
                <div class="navbar-item pull-left h4" id="page_title"></div>
                <!-- / -->
                <!-- Common tools -->
                <ul class="nav navbar-tool pull-right">
                    <li>
                        <a id="logout" md-ink-ripple="" class=" waves-effect">
                            <i class="icon mdi-action-exit-to-app i-24"></i>
                        </a>
                    </li>
                </ul>
                <div class="pull-right" ui-view="navbar@"></div>
                <!-- / -->
                <!-- Search form -->
                <div id="search" class="pos-abt w-full h-full blue hide">
                    <div class="box">
                        <div class="box-col w-56 text-center">
                            <!-- hide search form -->
                            <a md-ink-ripple class="navbar-item inline" ui-toggle-class="show" target="#search">
                                <i class="mdi-navigation-arrow-back i-24"></i>
                            </a>
                        </div>
                        <div class="box-col v-m">
                            <!-- bind to app.search.content -->
                            <input class="form-control input-lg no-bg no-border" placeholder="{{lang.header.search}}" ng-model="app.search.content">
                        </div>
                        <div class="box-col w-56 text-center">
                            <a md-ink-ripple class="navbar-item inline">
                                <i class="mdi-av-mic i-24"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- / -->
            </div>
            <!-- Content -->
            <div class="box-row">
                <div class="box-cell">
                    <div class="box-inner padding" id="put_content"></div>
                </div>
            </div>
            <!-- / -->
        </div>
    </div>
    <!-- / content -->
</div>