<div class="app">
    <div class="center-block w-xxl w-auto-xs p-v-md">
        <div class="navbar">
            <div class="navbar-brand m-t-lg text-center animated fadeInDown">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
                width: 24px; height: 24px;">
                    <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
                    <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
                    <path d="M 8 80 L 50 0 L 50 100 Z" fill="#fff"></path>
                    <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(255, 255, 255, 0.6)"></path>
                </svg>
                <span class="m-l inline">{{getText "global.title" "[]"}}</span>
            </div>
        </div>
        <div id="login_form">
            <div class="p-lg panel md-whiteframe-z1 text-color m animated zoomIn">
                <div class="m-b text-sm">
                    <span id="log"></span>
                    {{getText "login.intro" "[]"}}
                </div>
                <form name="form" id="login_send" autocomplete="off">
                    <div class="md-form-group float-label">
                        <input type="text" class="md-input" name="username" ng-model="user.username" autocorrect="off" autocomplete="off" required>
                        <label>{{getText "login.username" "[]"}}</label>
                    </div>
                    <div class="md-form-group float-label">
                        <input type="password" name="password" class="md-input" ng-model="user.password" autocorrect="off" autocomplete="off" required>
                        <label>{{getText "login.password" "[]"}}</label>
                    </div>
                    <div class="m-b-md">
                        <label class="md-check">
                            <input type="checkbox" name="remember" value="0"><i class="blue"></i> {{getText "login.remember" "[]"}}
                        </label>
                    </div>
                    <button type="submit" md-ink-ripple class="md-btn md-raised blue btn-block p-h-md waves-effect">{{getText "login.button" "[]"}}</button>
                </form>
            </div>
        </div>
    </div>
</div>
