<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-heading">
                <h2>{{getText "global.menu.adminUser.createClass"}}</h2>
            </div>
            <div class="card-divider"></div>
            <form role="form" id="editUserForm" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.classname"}} <em class="text-muted"></em></label>
                        <input type="text" name="displayName" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" required="" tabindex="0" aria-required="true" aria-invalid="true" style="">
                    </div>
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.classTeacher"}} <em class="text-muted"></em></label>
                        <select class="form-control" name="classTeacher">
                            <option value="-1">{{getText "elements.select"}}</option>
                            {{#each teachers}}
                                <option value="{{uuid}}">{{firstname}} {{lastname}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <footer class="panel-footer text-right">
                    <button type="button" name="btnCreateClass" id="btnCreateClass" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.submit"}}</button>
                </footer>
            </form>
        </div>
    </div>

</div>
</div>