<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-heading">
                <h2>{{getText "global.menu.adminUser.editClass"}}</h2>
            </div>
            <div class="card-divider"></div>
            <form role="form" id="editUserForm" method="post">
                <div class="card-body">
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.classname"}} <em class="text-muted"></em></label>
                        <input value="{{class.name}}" type="text" name="displayName" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-touched" tabindex="0" aria-required="true" aria-invalid="true" style="">
                    </div>
                    <div class="form-group">
                        <label>{{getText "global.user.show.heading.classTeacher"}} <em class="text-muted"></em></label>
                        <select class="form-control" name="classTeacher">
                            <option value="-1">Bitte wählen...</option>
                            {{#each teachers}}
                                <option value="{{uuid}}" {{#ifCond ../class.classTeacherId "==" uuid}}selected{{/ifCond}}>{{firstname}} {{lastname}}</option>
                            {{/each}}
                        </select>
                    </div>
                </div>
                <footer class="panel-footer text-right">
                    <button type="button" name="btnUpdateClass" id="btnUpdateClass" class="md-btn md-raised btn-fw blue waves-effect">{{getText "global.submit"}}</button>
                </footer>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="materialTableCard">
                <div class="materialTable">
                    <div class="materialTitle large">
                        <h2 class="title">{{getText "global.class.edit.students.title"}}</h2>
                    </div>
                    <table>
                        <thead>
                            <tr class="header">
                                <th>

                                </th>
                                <th>
                                    <div class="name">{{getText "global.user.show.heading.firstname"}}</div>
                                </th>
                                <th>
                                    <div class="name">{{getText "global.user.show.heading.lastname"}}</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each students}}
                                <tr>
                                    <td>
                                        {{@index}}
                                    </td>
                                    <td>
                                        {{firstname}}
                                    </td>
                                    <td>
                                        {{lastname}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>