<div id="showUserMaterialTable" class="materialTable animated fadeInRight fast">
    <div class="materialTitle large">
        <h2 class="title">{{getText "global.menu.adminClass.title"}}</h2>
        <div class="options">

            <button class="md-btn md-flat waves-effect" data-id="searchOpen">
                <i class="mdi-action-search text-lg m-t-sm pull-right"></i>
            </button>
            <a href="#/classes/create">
                <button class="md-btn md-flat waves-effect">
                    <i class="mdi-content-add text-lg m-t-sm pull-right"></i>
                </button>
            </a>
        </div>
    </div>
    <div class="materialSearch large">
        <i class="mdi-action-search text-lg pull-left"></i>
        <input type="text" placeholder="" data-id="materialTableSearch">
        <div class="options">
            <button class="md-btn md-flat waves-effect" data-id="searchClose">
                <i class="mdi-navigation-close text-lg m-t-sm pull-left"></i>
            </button>
        </div>
    </div>
    <div class="materialSelect large">
        <div class="itemsSelect">
            <span>0</span>  {{lang.global.tableSelected}}
        </div>
        <div class="options">
            <button data-id="1" class="md-btn md-flat waves-effect">
                <i class="mdi-action-delete text-lg m-t-sm pull-right"></i>
            </button>
        </div>
    </div>
    <div id="materialLoading_showUserMaterialTable"></div>
    <table>
        <thead>
        <tr class="header">
            <th class="sort">
                <div class="name">{{getText "global.user.show.heading.classname"}}</div>
                <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
            </th>
            <th class="sort">
                <div class="name">{{getText "global.user.show.heading.classTeacher"}}</div>
                <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
            </th>
            <th class="sort">
                <div class="name">{{getText "global.user.show.heading.numberOfStudents"}}</div>
                <i class="asc mdi-hardware-keyboard-arrow-down text-lg"></i>
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each classes}}
            <tr class="link" data-id="{{id}}">
                <td class="link">{{name}}</td>
                <td class="link">{{firstname}} {{lastname}}</td>
                <td class="link">{{countStudents}}</td>
                <td class="options">
                    <button data-id="btnDeleteClass" class="md-btn md-flat waves-effect">
                        <i class="mdi-action-delete text-lg m-t-sm pull-right"></i>
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
        <tfoot></tfoot>
    </table>
    <div class="materialFooter">
        <center class="errorFound hide"><br/>{{getText "global.user.show.heading.noClassFound"}}</center>
        <div class="options">
            <div class="rows">
                <div class="name">
                    {{lang.global.table.rowsPerPage}}:
                </div>
                <div class="dropdown">
                    <button type="button" class="btn btn-default dropdown-toggle waves-effect noBorder" data-toggle="dropdown"><span class="count">50</span>  <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a class="waves-effect">25</a></li>
                        <li><a class="waves-effect">50</a></li>
                        <li><a class="waves-effect">100</a></li>
                        <li><a class="waves-effect">200</a></li>
                    </ul>
                </div>
                <div class="name">
                    1 - 5 {{lang.global.table.of}} 776
                </div>
            </div>
            <button class="md-btn md-flat waves-effect disable">
                <i class="mdi-av-skip-previous text-lg m-t-sm pull-right"></i>
            </button>
            <button class="md-btn md-flat waves-effect disable">
                <i class="mdi-hardware-keyboard-arrow-left text-lg m-t-sm pull-right"></i>
            </button>
            <button class="md-btn md-flat waves-effect">
                <i class="mdi-hardware-keyboard-arrow-right text-lg m-t-sm pull-right"></i>
            </button>
            <button class="md-btn md-flat waves-effect">
                <i class="mdi-av-skip-next text-lg m-t-sm pull-right"></i>
            </button>
        </div>
    </div>
</div>
<div class="materialModal animated fadeIn" id="deleteClassModal">
    <div class="overlay"></div>
    <div class="window small animated">
        <div class="title">{{getText "lang.action.modal.deleteClass.title"}}</div>
        <div class="content">{{getText "lang.action.modal.deleteClass.content"}}</div>
        <div class="actions">
            <button type="button" id="deleteClassModalCancel" class="md-btn md-raised btn-fw waves-effect">{{getText "lang.action.modal.close"}}</button>
            <button type="button" id="deleteClassModalAction" class="md-btn md-raised btn-fw red waves-effect">{{getText "lang.action.modal.deleteClass.confirm"}}</button>
        </div>
    </div>
</div>
