<div class="row animated fadeInRight fast">
    <div class="p-h-md p-v pos-rlt">
        <h3 class="no-margin">{{getText "global.menu.class.title"}}</h3>
    </div>
    {{#each classes}}
        <div class="col-lg-3">
            <a href="/#/classes/{{id}}/subjects" class="card link waves-effect">
                <div class="card-heading">
                    <button md-ink-ripple class="md-btn md-fab m-b blue"><i class="mdi-social-people i-24"></i></button>
                    <h2>{{name}}</h2>
                </div>
            </a>
        </div>
    {{/each}}
</div>

