<div id="showUserMaterialTable" class="materialTable animated fadeInRight fast" data-edit="0" data-subjectId="{{subjectId}}">
    <div class="materialTitle large">
        <h2 class="title">{{getText "global.menu.grade.title"}}</h2>
        <div class="options">
            {{#ifCond permission "===" "1"}}
                <button type="button" id="editMarks" class="md-btn md-flat waves-effect">
                    <i class="mdi-content-create text-lg m-t-sm pull-right"></i>
                </button>
                <button id="cancelEdit" class="md-btn btn-raised btn-fw waves-effect hidden">
                    {{getText "global.abort"}}
                </button>
                <button type="button" id="submitMarks" class="md-btn md-raised btn-fw blue waves-effect hidden">
                    {{getText "global.submit"}}
                </button>
            {{/ifCond}}
        </div>
    </div>
    <div class="materialSearch large">
        <i class="mdi-action-search text-lg pull-left"></i>
        <input type="text" placeholder="" data-id="materialTableSearch">
        <div class="options">
            <button class="md-btn md-flat waves-effect" data-id="searchClose">
                <i class="mdi-navigation-close text-lg m-t-sm pull-left"></i>
            </button>
        </div>
    </div>
    <div class="materialSelect large">
        <div class="itemsSelect">
            <span>0</span>  {{lang.global.tableSelected}}
        </div>
        <div class="options">
            <button data-id="1" class="md-btn md-flat waves-effect">
                <i class="mdi-action-delete text-lg m-t-sm pull-right"></i>
            </button>
        </div>
    </div>
    <div id="materialLoading_showUserMaterialTable"></div>
    <table>
        <thead>
        <tr class="header">
            <th class="sort markstable_row_subject">
                <div class="name">{{getText "global.marks.student"}}</div>
            </th>
            <th class="sort">
                <div class="name">{{getText "global.marks.marks_small"}}</div>
            </th>
            <th class="sort markstable_row_big_marks">
                <div class="name">{{getText "global.marks.marks_big"}}</div>
            </th>
            <th class="sort show_average_icon markstable_row_small">
                <div class="name">{{getText "global.marks.average_small"}}</div>
            </th>
            <th class="sort show_average_icon markstable_row_big">
                <div class="name">{{getText "global.marks.average_big"}}</div>
            </th>
            <th class="sort markstable_row_endmark">
                <div class="name">{{getText "global.marks.final_mark"}}</div>
            </th>
        </tr>
        </thead>
        <tbody>
        {{#each marks}}
            <tr class="link student" data-studentId="{{studentId}}">


                <td>{{firstname}} {{lastname}}</td>

                <td class="small_marks">
                    {{#each small}}
                        <div class="marks" data-mark="{{mark}}" title="{{date}}{{#if comment}} - {{comment}}{{/if}}" data-markid="{{id}}" >
                            <span>{{mark}}</span>
                            <div class="form_edit_mark hide">
                                <div class="mark_edit" data-markid="{{id}}">
                                    <div class="form-group">
                                        <input type="number" maxlength="1" max="6" min="1" value="{{mark}}" class="form-control" name="markInput" placeholder="{{getText "global.marks.mark"}}">
                                    </div>
                                    <div class="form-group">
                                        <input value="{{date}}" class="form-control" type="text" name="dateInput" placeholder="{{getText "global.marks.date"}}">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="commentInput" placeholder="{{getText "global.marks.comment"}}">{{comment}}</textarea>
                                    </div>
                                    <button type="button" name="updateMark" class="md-btn btn-raised btn-fw blue btn-block">{{getText "global.submit"}}</button>
                                    <button type="button" name="deleteMark" class="md-btn btn-raised btn-fw red btn-block">{{getText "global.delete"}}</button>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <input type="number" min="1" max="6" maxlength="1" class="new_marks disable_spinner hidden" id="new_mark_small">
                </td>

                <td class="big_marks">
                    {{#each big}}
                        <div class="marks" data-mark="{{mark}}" title="{{date}}{{#if comment}} - {{comment}}{{/if}}" data-markid="{{id}}" >
                            <span>{{mark}}</span>
                            <div class="form_edit_mark hide">
                                <div class="mark_edit" data-markid="{{id}}">
                                    <div class="form-group">
                                        <input type="number" maxlength="1" max="6" min="1" value="{{mark}}" class="form-control" name="markInput" placeholder="{{getText "global.marks.mark"}}">
                                    </div>
                                    <div class="form-group">
                                        <input value="{{date}}" class="form-control" type="text" name="dateInput" placeholder="{{getText "global.marks.date"}}">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" rows="3" name="commentInput" placeholder="{{getText "global.marks.comment"}}">{{comment}}</textarea>
                                    </div>
                                    <button type="button" name="updateMark" class="md-btn btn-raised btn-fw blue btn-block">{{getText "global.submit"}}</button>
                                    <button type="button" name="deleteMark" class="md-btn btn-raised btn-fw red btn-block">{{getText "global.delete"}}</button>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    <input type="number" min="1" max="6" maxlength="1" class="new_marks disable_spinner hidden" id="new_mark_big" title="{{getText "global.marks.new_mark"}}">
                </td>

                <td class="average_small"></td>

                <td class="average_big"></td>

                <td class="total_mark"></td>

            </tr>
        {{/each}}
        </tbody>
        <tfoot></tfoot>
    </table>
    <div class="materialFooter show_average_total_mark">
        <div class="options">
            <div class="rows">
                <div class="name">{{getText "global.marks.total_average"}}:</div>
                <strong><div class="average_total_marks"></div></strong>
            </div>
        </div>
    </div>
</div>
<div class="materialModal animated fadeIn" id="deleteUserModal">
    <div class="overlay"></div>
    <div class="window small animated">
        <div class="title">{{getText "lang.action.modal.deleteUser.title"}}</div>
        <div class="content">{{getText "lang.action.modal.deleteUser.content"}}</div>
        <div class="actions">
            <button type="button" id="deleteUserModalCancel" class="md-btn md-raised btn-fw waves-effect">{{lang.action.modal.close}}</button>
            <button type="button" id="deleteUserModalAction" class="md-btn md-raised btn-fw blue waves-effect">{{lang.action.modal.deleteUser.delete}}</button>
        </div>
    </div>
</div>

<div class="form_new_mark hide">
    <div class="mark_edit" data-markid="#">
        <div class="form-group">
            <input type="number" maxlength="1" max="6" min="1" class="form-control" name="markInput" placeholder="{{getText "global.marks.mark"}}">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="dateInput" placeholder="{{getText "global.marks.date"}}">
            <span class="help-block hidden">{{getText "global.marks.date_help"}}</span>
        </div>
        <div class="form-group">
            <textarea class="form-control" rows="3" name="commentInput" placeholder="{{getText "global.marks.comment"}}"></textarea>
        </div>
        <button type="button" disabled="disabled" name="updateMark" class="md-btn btn-raised btn-fw blue btn-block">{{getText "global.add"}}</button>
    </div>
</div>

<div class="marks_clone hidden" title="">
    <div class="form_edit_mark hide">
        <div class="mark_edit" data-markid="1">
            <div class="form-group">
                <input type="number" maxlength="1" max="6" min="1" class="form-control" name="markInput" placeholder="{{getText "global.marks.mark"}}">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="dateInput" placeholder="{{getText "global.marks.date"}}">
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="3" name="commentInput" placeholder="{{getText "global.marks.comment"}}"></textarea>
            </div>
            <button type="button" name="updateMark" class="md-btn btn-raised btn-fw blue btn-block">{{getText "global.submit"}}</button>
            <button type="button" name="deleteMark" class="md-btn btn-raised btn-fw red btn-block">{{getText "global.delete"}}</button>
        </div>
    </div>
</div>