<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="materialTableCard">
                <div class="materialTable">
                    <div class="materialTitle large">
                        <h2 class="title">{{getText "global.user.show.heading.class"}} {{class.name}}</h2>
                    </div>
                    <table>
                        <thead>
                            <tr class="header">
                                <th>

                                </th>
                                <th>
                                    <div class="name">{{getText "global.user.show.heading.firstname"}}</div>
                                </th>
                                <th>
                                    <div class="name">{{getText "global.user.show.heading.lastname"}}</div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each students}}
                                <tr class="link" data-studentid="{{id}}">
                                    <td class="link">
                                        {{@index}}
                                    </td>
                                    <td class="link">
                                        {{firstname}}
                                    </td>
                                    <td class="link">
                                        {{lastname}}
                                    </td>
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>